<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <a name="Top"></a>
      <h1>Let's manage a config</h1>
      <form class="form-inline">
        <fieldset class="form-group col-md-6">
          <legend>
            Lookup
          </legend>
          <div>
          <label>Client</label>
          <input class="form-control" type="text" name="client" value="" placeholder="client" ng-model="$ctrl.model.client">          
          <label>Platform</label>
          <select class="form-control" ng-model="$ctrl.model.platform" ng-options="p as p for p in $ctrl.platforms"></select>
          </div> 
          <br />
          <button class="btn btn-primary btn-block" ng-click="$ctrl.platformSelected()">Find</button>
          <button class="btn btn-warning btn-block" ng-click="$ctrl.removeOverride()">Remove</button>
        </fieldset>
        <fieldset class="form-group col-md-6">
          <legend>
            Utilities
          </legend>
          <div>
            <div class="row">
          <label class="col-sm-3">Dup. Name</label>
          <div class="col-sm-9">
          <input class="form-control" style="display: block; width: 100%" type="text" placeholder="Enter name" ng-model="$ctrl.model.cloneName">
          </div>
            </div>
          </div> <br />
          <div>
          <button class="btn btn-primary btn-block" ng-click="$ctrl.clone()">Duplicate</button>
          <button class="btn btn-warning btn-block" ng-click="$ctrl.sync()">Sync</button>
          </div>
        </fieldset>
    </form>
    <hr />
  </div>
</div>
</div>
<div class="container-fluid" style="{{$ctrl.style}}">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-info">{{$ctrl.error}}</h3>
      <form class="form">
        <div class="form-group" ng-repeat="outer in $ctrl.message">
          <a name="{{outer.key}}"></a>
          <div>
            <h3>{{outer.key}}</h3>
            <input class="form-control" style="display: inline; width: auto;" type="text" placeholder="filter" ng-model="$ctrl.innerFilter">
            <button class="btn" type="button" ng-click="$ctrl.save()">Set as override</button>
            <button class="btn btn-success" type="button" ng-click="$ctrl.addNewValue(outer)">+</button>
          </div>
          <hr />
          <div ng-repeat="inner in outer.value | orderBy:['isNew','key'] | filter:{key:$ctrl.innerFilter}" class="form-group col-lg-3 form-group col-md-4">
            <input type="text" class="form-control" style="display: inline; width: 87%; font-weight:bold" ng-model="inner.key">
            <button class="btn btn-sm btn-danger pull-right" ng-click="$ctrl.remove(outer, inner)">-</button>
            <input class="form-control" type="text" ng-model="inner.value">
          </div>
      </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Last configs managed:</h1>
        <a name="History"></a>
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
          <li><a href="#" ng-click="$ctrl.load(thing)">{{thing.client}} - {{thing.platform}}</a></li>
        </ul>
      </div>
    </div>
  </div>