<div class="container-fluid">
  <h1>Let's manage a config</h1>
  <form class="form-inline">
    <div class="form-group">
      What is the <input class="form-control" type="text" name="client" value="" placeholder="client" ng-model="$ctrl.model.client"
        ng-blur="$ctrl.platformSelected()"> and for which
      <select class="form-control" ng-model="$ctrl.model.platform" ng-change="$ctrl.platformSelected()" ng-options="p as p for p in $ctrl.platforms">
      </select>?
      Or
      <button class="btn btn-primary">Clone to</button> <input class="form-control" type="text" placeholder="new test client">
      Or
      <button class="btn btn-warning">Sync</button>
    </div>
  </form>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-info">{{$ctrl.error}}</h3>
      <hr />
      <form class="form">
        <fieldset class="form-group" ng-repeat="outer in $ctrl.message">
          <legend>{{outer.key}}
            <input class="input-sm" type="text" placeholder="filter" ng-model="$ctrl.innerFilter">
            <button class="btn" type="button">Set as override</button>
            <button class="btn btn-success" type="button" ng-click="$ctrl.addNewValue(outer)">+</button>
          </legend>
          <div ng-repeat="inner in outer.value | filter:{key:$ctrl.innerFilter}" class="form-group col-lg-3">
            <input type="text" class="form-control" style="display: inline; width: 93%; font-weight:bold" ng-model="inner.key">
            <button class="btn btn-sm btn-danger">-</button>
            <input class="form-control" type="text" ng-model="inner.value">
          </div>
        <fieldset>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Last configs managed:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
